p {
	font-size: 28px; 
	color: black; 
	text-shadow: 3px 3px 5px grey
}



body {
	background-size: cover; 
	background-attachment: fixed; 
	margin: 0px
	}



#top-bar {
	background-color: rgb(10,10,10); 
	width: 100%; 
	height: 60px;
}



#home-tab {
	background-color: rgb(10,10,10); 
	position: absolute; 
	left: 16.6%; 
	width: 16.6%;
	height: 56px
}




#guitar-tab {
	background-color: rgb(10,10,10); 
	position: absolute; 
	left: 33.3%; 
	width: 16.6%;
	height: 56px
}



#courses-tab {
	background-color: rgb(10,10,10); 
	position: absolute; 
	left: 50%; 
	width: 16.6%;
	height: 56px
}



#code-tab {
	background-color: rgb(10,10,10); 
	position: absolute; 
	left: 66.6%; 
	width: 16.6%;
	height: 56px
}



#container {
	background-color: white; 
	border-radius: 10px; 
	position: absolute; 
	left: 15%; 
	top: 25%; 
	height: 70%; 
	width: 70%; 
	margin: 0px;
}



#socials-tab {
	position: absolute;
	left: 12.5%;
	width: 25%;
	height: 18%;
	border-bottom: 4px solid rgb(0,200,255);
	cursor: pointer;
}



#socials-tab-header {
	font-size: 26px;
	color: rgb(0,200,255);
}



#emails-tab {
	position: absolute;
	left: 62.5%;
	width: 25%;
	height: 18%;
	cursor: pointer;
}



#emails-tab-header {
	font-size: 26px;
	color: rgb(150,150,150);
}



#socials-content {
	display: all;
	position: absolute;
	top: 25%;
	left: 10%;
	width: 80%
}



#emails-content {
	display: none;
	position: absolute;
	top: 25%;
	left: 10%;
	width: 80%
}



#instagram-text-div {
	position: absolute;
	top: 0px;
	left: 36%;
}



#twitter-text-div {
	position: absolute;
	top: 60px;
	left: 36%;
}




#github-text-div {
	position: absolute;
	top: 130px;
	left: 36%;
}



#instagram {
	position: absolute;
	top: 5px;
	left: 25%
}



#twitter {
	position: absolute;
	top: 70px;
	left: 25%

}



#github {
	position: absolute;
	top: 140px;
	left: 25%
}



#instructions {
	position: absolute;
	top: 185px;
	width: 100%
}



#instructions-text {
	font-size: 18px
}



#emails-tab-text {
	font-size: 26px 
}



.emailText {
	color: rgb(100,0,255);
	text-shadow: 1px 1px 3px rgb(70,0,255);
	font-size: 30px
}



#home-tab:hover {
	background-color:  black;
	border-bottom: 4px solid white;
}



#guitar-tab:hover {
	background-color:  black;
	border-bottom: 4px solid white;
}



#code-tab:hover {
	background-color:  black;
	border-bottom: 4px solid white;
}



#courses-tab:hover {
	background-color:  black;
	border-bottom: 4px solid white;
}



#emails-tab:hover #emails-tab-header{
	color: rgb(0,200,255);
}



#emails-tab:hover {
	border-bottom: 4px solid rgb(0,200,255);
}