p {
	font-size: 28px; 
	color: black; 
	text-shadow: 3px 3px 5px grey
}



body {
	background-size: cover; 
	background-attachment: fixed; 
	margin: 0px
	}




#top-bar {
	background-color: rgb(10,10,10); 
	width: 100%; 
	height: 14%;
}



#home-tab {
	background-color: rgb(10,10,10); 
	position: absolute; 
	left: 16.6%; 
	width: 16.6%
}




#guitar-tab {
	background-color: rgb(10,10,10); 
	position: absolute; 
	left: 33.3%; 
	width: 16.6%;
}



#courses-tab {
	background-color: rgb(10,10,10); 
	position: absolute; 
	left: 50%; 
	width: 16.6%;
}



#code-tab {
	background-color: rgb(10,10,10); 
	position: absolute; 
	left: 66.6%; 
	width: 16.6%;
}



#container {
	background-color: white; 
	border-radius: 10px; 
	position: absolute; 
	left: 15%; 
	top: 25%; 
	height: 70%; 
	width: 70%; 
	margin: 0px;
}



#instagram {
	position: absolute; 
	left: 30%; 
	background-color: white
}



#twitter {
	position: absolute; 
	left: 47.5%; 
	background-color: white
}



#github {
	position: absolute; 
	left: 65%;
	background-color: white
}



#home-tab:hover {
	background-color:  black;
}



#guitar-tab:hover {
	background-color:  black;
}



#code-tab:hover {
	background-color:  black;
}



#courses-tab:hover {
	background-color:  black;
}