p {
	color: white; 
	font-size: 28px; 
	margin: 30px; 
	text-shadow: 5px 5px 5px Black
}



body { 
	background-size: cover; 
	background-attachment: fixed; 
	margin: 0;
}



#top-bar {
	background-color: rgb(10,10,10);
	height: 220px;
}


#guitar-tab {
	background-color: rgb(10,10,10); 
	position: absolute; 
	top: 160px;
	left: 16.6%; 
	width: 16.6%;
	height: 56px
}



#code-tab {
	background-color: rgb(10,10,10); 
	position: absolute; 
	top: 160px;
	left: 33.3%; 
	width: 16.6%;
	height: 56px
}



#courses-tab {
	background-color: rgb(10,10,10); 
	position: absolute; 
	top: 160px;
	left: 50%; 
	width: 16.6%;
	height: 56px
}



#contact-tab {
	background-color: rgb(10,10,10); 
	position: absolute; 
	top: 160px;
	left: 66.6%; 
	width: 16.6%;
	height: 56px
}



#bottom-bar {
	position: relative;
	height: 200px; 
	background-color: #7B4398;
}



#instagram {
	position: absolute; 
	top: 75px; 
	left: 35%;
	width: 50px;
	background-color: #7B4398;
}



#twitter {
	position: absolute; 
	top: 75px; 
	left: 47.5%; 
	width: 50px;
	background-color: #7B4398;
}



#github {
	position: absolute; 
	top: 75px; 
	left: 60%; 
	width: 50px;
	background-color: #7B4398;
}



#guitar-tab:hover {
	background-color:  black;
	border-bottom: 4px solid white;
}



#code-tab:hover {
	background-color:  black;
	border-bottom: 4px solid white;
}



#contact-tab:hover {
	background-color:  black;
	border-bottom: 4px solid white;
}



#courses-tab:hover {
	background-color:  black;
	border-bottom: 4px solid white;
}




@media (max-width: 600) {

	#top-bar {
		display: none;
	}

}